.image-border-div {
    background-color: white;
    margin: 5px;
}
.image-border-div:hover {
    /* background-color: red; */
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25);
}
.image-border-remaining {
    background-color: green;
    margin: 5px;
}
.image-border-wrong {
    background-color: red;
    margin: 5px;
}
.image-border-disabled {
    background-color: white;
    margin: 5px;
}
.click-image-div {
    margin: 8px;
}
